    <div class="container" id="services" name="services">
      <br>
      <div class="row">
        <h1 class="centered">¿QUIÉN ESTÁ DETRÁS DE PINTXAPP?</h1>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <p>
            Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s audience. Sometimes these two halves have very different viewpoints, creating a weak spot in the brand story. Weakness tarnishes credibility. Brands that aren’t credible aren’t viable.
          </p>
        </div><!-- col-lg -->
      </div><!-- row -->
    </div><!-- container -->

    <!-- ==== TEAM MEMBERS ==== -->
    <div class="container" id="team" name="team">
      <div class="row white centered">
        <h2 class="centered">EQUIPO DE ZAPADORES PINTXAPP</h2>
        <hr>
        <br>
        <br>
        <div class="col-lg-3 centered">
          <img class="img img-circle" src="/images/team/team01.jpg" height="100px" width="100px" alt="">
          <br>
          <h4><b>"Tachenko" Gómez</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-flickr"></a>
          <a href="#" class="icon icon-facebook"></a>
          <p>
            Maestro cervecero curtido en mil batallas, seguramente no se acuerde ni de 
            la mitad.
          </p>
        </div><!-- col-lg-3 -->
        <div class="col-lg-3 centered">
          <img class="img img-circle" src="/images/team/team02.jpg" height="100px" width="100px" alt="">
          <br>
          <h4><b>"Farruquito" Gómez</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-flickr"></a>
          <a href="#" class="icon icon-facebook"></a>
          <p>
            La eterna promesa. Seguirá saliendo de copas con nuestros hijos.
          </p>
        </div><!-- col-lg-3 -->        
        <div class="col-lg-3 centered">
          <img class="img img-circle" src="/images/team/team03.jpg" height="100px" width="100px" alt="">
          <br>
          <h4><b>Laurita o "Revienta"</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-flickr"></a>
          <a href="#" class="icon icon-facebook"></a>
          <p>Se pirra por las buenas tapas y los cotilleos cuando sale a fumar el cigar</p>
        </div><!-- col-lg-3 -->
        <div class="col-lg-3 centered">
          <img class="img img-circle" src="/images/team/team04.jpg" height="100px" width="100px" alt="">
          <br>
          <h4><b>Ander el "Klander"</b></h4>
          <a href="#" class="icon icon-twitter"></a>
          <a href="#" class="icon icon-flickr"></a>
          <a href="#" class="icon icon-facebook"></a>
          <p>
            A pesar de su cara de empanao, le gustan las mujeres, le gusta el vino ...
          </p>
        </div><!-- col-lg-3 -->
      </div><!-- row -->
    </div><!-- container -->