    <div class="container" id="services" name="services">
      <br>
      <div class="row">
        <h1 class="centered">¿QUÉ ES PINTXAPP?</h1>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <p>
            PintxApp es una aplicación que te permitirá mantenerte informado sobre los eventos gastronómicos de tu entorno desde la comodidad del entorno digital.
          </p>
          <p>
            No puedes negar que cada vez que aparece un evento de pinchoteo, degustación o similar, es un engorro tener que descargarse un documento en formato PDF, memorizarlo, imprimirlo o estar ampliando y reduciendo infinitas veces si te lo bajas al móvil o la tableta.
          </p>
          <p>
            PintxApp simplemente recopila la información de los eventos, la pone a tu disposición en línea y te ayuda a identificar los lugares más cercanos a tu posición, o todos los que haya disponibles si así lo deseas.
          </p>
          <p>
            También te facilitamos la información de contacto, y por supuesto, gastronómica del lugar al que quieres ir.
          </p>
          <p>Esperas que al menos resulte útil y divertida</p>
        </div><!-- col-lg -->
      </div><!-- row -->
    </div><!-- container -->